[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]

[dev-packages]
pytest = "*"
"pytest-mock" = "*"
pytest-cov = "*"
pytest-pspec = "*"
pylint = "*"
isort = "*"
black = "==20.8b1"

